using System;
using System.Collections.Generic;
using ${packages.get('Model').value};

#foreach( $classReference in $entity.classReferenceList )
using $classReference;
#end

namespace ${currentPackage}
{
	public interface ${currentTemplate.generatedName}
	{
		void Insert${entity.name}(${entity.name} ${entity.lcName});
		int Update${entity.name}(${entity.name} ${entity.lcName});
		int Delete${entity.name}(${tags.methodArgs($keyList)});
		$entity.name Get${entity.name}(${tags.methodArgs($keyList)});				
		IList<${entity.name}> Get${entity.name}List();
	}
}