#if(${package})package ${package}
{

#end
#foreach( $classReference in $entity.classReferenceList )
import $classReference;
#end

[Bindable]
public class ${template.generatedName}
{
// Getters for Pk fields
#foreach( $prop in $propertyList )
	public var ${prop.lcName} : ${prop.dataType};
#end
}
}